name: Run tests and coverage

on: [push, pull_request]

jobs:
  run-test-cases:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest,]
        java-version: [11]

    steps:
      - name: Get branch name
        shell: bash
        run: echo "##[set-output name=branch;]$(echo ${GITHUB_REF#refs/heads/})"
        id: get_branch

      - uses: actions/checkout@v2

      - name: Set up Java ${{ matrix.java-version }}
        uses: actions/setup-java@v2
        with:
          java-version: ${{ matrix.java-version }}
          distribution: 'temurin'

      - name: Run Maven tests and upload coverage
        run: mvn clean test

      - name: Coveralls (Uploading test report)
        if: ${{ github.ref == 'refs/heads/github-workflow' }}
        uses: coverallsapp/github-action@main
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}